{% if page_count > 1 %}
    {% if ajax_paginator.pagination.use_ajax %}
    <div class="pagination ajax-pagination" data-target="{{ path(route) }}"
        {% if ajax_paginator.pagination.ajax_parameters is not empty %}
            {% for key,value in ajax_paginator.pagination.ajax_parameters %}
                {{ key ~ '=' ~ value  }}
            {% endfor %}
        {% endif %}
    >
        <div class="pagination-list">
            {% if previous_page is defined %}
            <div class="page-item" >
                <div class="page-link" data-page="{{ previous_page }}" >&laquo; &nbsp; {{ 'Previous' | trans({}, 'paginator-bundle') }}</div>
            </div>
            {% else %}
            <div class="page-item disabled">
                <div class="page-link">&laquo; &nbsp; {{ 'Previous' | trans({}, 'paginator-bundle') }}</div>
            </div>
            {% endif %}

            {% if start_page > 1 %}
            <div class="page-item {% if current_page == 1 %}active{% endif %}">
                <div class="page-link" data-page="1" >1</div>
            </div>
                {% if start_page == 3 %}
            <div class="page-item {% if current_page == 2 %}active{% endif %}">
                <div class="page-link" data-page="2" >2</div>
            </div>
                {% elseif start_page != 2 %}
            <div class="page-item disabled">
                <div class="page-link">&hellip;</div>
            </div>    
                {% endif %}
            {% endif %}

            {% for page in range (1, page_range, 1) %}
            <div class="page-item {% if page == current_page %}active{% endif %}">
                <div class="page-link" data-page="{{ page }}" >{{ page }}</div>
            </div>
            {% endfor %}

            {% if page_count > end_page %}
                {% if page_count > (end_page + 1) %}
            <div class="page-item {% if page_count > (end_page + 2) %}disabled{% endif %}" >
                    {% if page_count > (end_page + 2) %}
                <div class="page-link">&hellip;</div>
                    {% else %}
                <div class="page-link" data-page="{{ page_count - 1 }}" >{{ page_count - 1 }}</div>
                    {% endif %}
            </div>
                {% endif %}
            {% endif %}

            <div class="page-item {% if next_page is not defined %}disabled{% endif %}">
                {% if next_page is defined %}
                <div class="page-link" data-page="{{ next_page }}" >{{ 'Next' | trans({}, 'paginator-bundle') }}&nbsp;&raquo;</div>
                {% else %}
                <div class="page-link">{{ 'Next' | trans({}, 'paginator-bundle') }}&nbsp;&raquo;</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
<div class="pagination" >
    <div class="pagination-list" >
        {% if previous_page is defined %}
        <div class="page-item" >
            <a href="{{ path(route, query|merge({(page_parameter_name) : previous_page}))}}" rel="previous" >
                <div class="page-link" >&laquo; &nbsp; {{ 'Previous' | trans({}, 'paginator-bundle') }}</div>
            </a>
        </div>
        {% else %}
        <div class="page-item disabled">
            <div class="page-link">&laquo; &nbsp; {{ 'Previous' | trans({}, 'paginator-bundle') }}</div>
        </div>
        {% endif %}

        {% if start_page > 1 %}
            <div class="page-item {% if current_page == 1 %}active{% endif %}">
                <a href="{{ path(route, query|merge({(page_parameter_name) : 1})) }}" >
                    <div class="page-link">1</div>
                </a>
            </div>
            {% if (start_page == 3) %}
            <div class="page-item  {% if current_page == 2 %}active{% endif %}">
                <a href="{{ path(route, query|merge({(page_parameter_name) : 2})) }}" >
                    <div class="page-link">2</div>
                </a>
            </div>
            {% elseif start_page != 2 %}
            <div class="page-item disabled">
                <div class="page-link">&hellip;</div>
            </div>
            {% endif %}
        {% endif %}

        {% for page in range(1, page_range, 1) %}
        <div class="page-item {% if page == current_page %}active{% endif %}" >
            {% if (page != current_page) %}
            <a href="{{ path(route, query|merge({(page_parameter_name) : page} )) }}" >
                <div class="page-link">{{ page }}</div>
            </a>
            {% else %}
            <div class="page-link">{{ page }}</div>
            {% endif %}
        </div>
        {% endfor %}

        {% if page_count > end_page %}
            {% if page_count > (end_page + 1) %}
            <div class="page-item {% if page_count > (end_page + 2) %}disabled{% endif %}" >
                {% if page_count > (end_page + 2) %}
                <div class="page-link">&hellip;</div>
                {% else %}
                <a href="{{ path(route, query|merge({(page_parameter_name) : (page_count - 1) })) }}" >
                    <div class="page-link">{{ page_count - 1 }}</div>
                </a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}

        <div class="page-item {% if next_page is not defined %}disabled{% endif %}">
            {% if next_page is defined %}
            <a href="{{ path(route, query|merge({(page_parameter_name) : next_page}))}}" role="next" >
                <div class="page-link">{{ 'Next' | trans({}, 'paginator-bundle') }}&nbsp;&raquo;</div>
            </a>
            {% else %}
            <div class="page-link">{{ 'Next' | trans({}, 'paginator-bundle') }}&nbsp;&raquo;</div>
            {% endif %}
        </div>
    </div>
</div>
    {% endif %}
{% endif %}